NODE_ENV=development
PORT=3000
HOST=0.0.0.0
BASE_URL=http://127.0.0.1:3000

# Database config
DB_USER=postgres
DB_PASSWORD=nicho
DB_NAME=nicho_DB
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql://postgres:nicho@db:5432/nicho_DB?schema=public
# 
SALT_ROUNDS=10
# 
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
OTP_TTL_MINUTES=5
# for sending email/SMS (fill in as you implement)
EMAIL_FROM=no-reply@example.com
# admin seeding
SUPER_ADMIN_EMAIL=admin@gmail.com
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_PHONE=
# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
# Stripe API Key 
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
# 
RAIDER_DEFAULT_PASSWORD=123456
# MAIL SERVICES
SMTP_HOST=smtp.gamil.com
SMTP_PORT=587 
SMTP_USER=
SMTP_PASS=
# TWILIO SERVICES
TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=
# firebase push notify
FIREBASE_SERVICE_ACCOUNT=

