<h2>Special Promo Just for You!</h2>
<p>Hi {{name}},</p>
<p>We have an exclusive offer: <strong>{{promoCode}}</strong></p>
<p>Use this code on your next order to get a discount of {{discount}}%</p>
<p>Hurry! This offer is valid until {{expiryDate}}.</p>
