<h2>Exclusive Invitation for You, {{name}}!</h2>
<p>Hi {{name}},</p>
<p>You have been selected as a Premium/Pentium raider. Enjoy top priority orders and special perks.</p>
<p>Click <a href="{{acceptLink}}">here</a> to accept your invitation.</p>
